<p>
  Working page - about-us works!
</p>

<div class="aboutPage">
  <!-- about-->
    <h1 class="display-4 text-center my-5 text-muted"> ABOUT PAGE</h1>
    
    <div class="container">
        <div class="btn-group btn-group-md mt-4" role="group" aria-label="Callout buttons">
            <a type="button" class="btn btn-primary btn-lg" href="tel:2533105698">Call Now</a>
            <a type="button" class="btn btn-light" href="mailto:arron.webbuild@gmail.com?Subject=PANDORAFARMS">Send Email</a>
          </div>
      <img src="../assets/image/animals/alex-blajan-325209-unsplash.jpg" class="center img-fluid rounded" alt="Responsive image">
    </div>