<app-nav-cmp></app-nav-cmp>
<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="display-4">Pandora Farms</h1>
    <p class="lead">Feed & Seed has been supporting rural and urban farming and agriculture</p>
    <p> Feeding out family and your since 2010</p>
    <hr class="my-4">
    <p>Come on in and say hi, we’re always happy to answer questions and help solve your farming, livestock, pet and garden issues!</p>
  </div>
</div>

<div class="container">
  <div id="main-body">
    <h1> We are Supply Highest quality nutrients for livestock </h1>
    <p> we offer custom products and solutions to help you thrive</p>
  </div>
</div>

<div class="container-fluid">  
  <div class="card-group">

    <div class="card text-center text-white bg-info mb-3 " style="width: 18rem;">
      <img class="card-img-top" src="/assets/image/animals/jordan-whitt-342862-unsplash.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Live Stock</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
      </div>
    </div>

    <div class="card text-center text-white bg-info mb-3 border-0" style="width: 18rem;">
      <img class="card-img-top" src="/assets/image/animals/antonio-grosz-346158-unsplash.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Feed Stock</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
      </div>
    </div>

      <div class="card text-center text-white bg-info mb-3 border-0" style="width: 18rem;">
        <img class="card-img-top" src="/assets/image/fields/kelly-neil-558227-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Feed Stock</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
        </div>
      </div>

  </div>
</div>