.bg{
  background: #000 url('/assets/image/fields/daniel-hansen-242168-unsplash.jpg') no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.5;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
}

#feed-card{
  background: #000 url('/assets/image/animals/jordan-whitt-342862-unsplash.jpg') no-repeat center center;
}