<h2 class="text-center my-3 p-3">
  Nutrition Makes a Difference You Can See
</h2>

<div class="container top-heading">
  
</div>
<div class="body-group p-4">
  <div class="container">
    <div class="body-info">
      <div class="row">
        <div class="col-sm p-3 bg-light border border-danger">
          <h3>Tailored Solutions</h3>
          <p class="text-center align-middle">Our feeds are precisely formulated for your horse’s age and lifestyle.
            You’ll see the proof in strong hooves, shiny coats, and healthy horses.
          </p>

        </div>
        <div class="col-md p-4 bg-light border">   
          <h3>Healthy Chickens = A Happy Flock</h3>
          <p class="text-center">When it comes to keeping your chickens healthy and energetic, a proper diet is key. 
          </p>
          <p>DuMOR Poultry offers a premium line of quality chicken feed and supplements designed to nourish your chicken. 
            Regardless of age, activity level or health status, DuMOR has a delicious and wholesome formula developed specifically to meet your animal's needs.
        </p>
        </div>
        <div class="col-sm p-3 bg-light border border-danger">
          <h3>The Importance of Protein in dry cow diets</h3>
          <p class="text-center">TransRite is a simple, easy to feed transition cow pellet to be fed to non-lactating dairy cattle. 
          </p>
          <p>The transition period is extremely important in establishing lactation success and TransRite is formulated and tested to meet transition cow needs. 
            It contains a specific blend of ingredients to optimize rumen function.
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container end-group">
  
</div>
<!-- Return to home -->
<div class="container mt-3">
  <div class="card text-center text-white bg-secondary mx-3 border-0">
    <div class="container">
      <!-- <img class="center img-fluid rounded card-img-top mt-2" src="/assets/image/fields/kelly-neil-558227-unsplash.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <a href="#" class="btn btn-outline-light btn-block">Return to Home</a>
    </div>
    </div> 
  </div>
</div>