  <div class="container-fluid text-center">
      <p>Come on in and say hi, we’re always happy to answer questions and help solve your farming, livestock, pet and garden needs!</p>
  </div>

  <div class="container p-5">
    <div id="main-body" class="text-center">
      <h1> We Supply the Highest quality nutrients for livestock </h1>
      <p class="text-center"> we offer custom products and solutions to help you thrive</p>
    </div>
  </div>

<div class="parallax">
  <div class="container-fluid p-5">  
    <div class="card-group">
  
      <div class="card text-center text-white bg-success mb-3 border-0">
        <img class="card-img-top" src="/assets/image/animals/jordan-whitt-342862-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Live Stock</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/offers" class="btn btn-outline-light btn-block">Link somewhere</a>
        </div>
      </div>
  
      <div class="card text-center text-white bg-info mb-3 border-0">
        <img class="card-img-top" src="/assets/image/animals/antonio-grosz-346158-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Feed</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/products" class="btn btn-outline-light btn-block">Link somewhere</a>
        </div>
      </div>
  
        <div class="card text-center text-white bg-secondary mb-3 border-0">
          <img class="card-img-top" src="/assets/image/fields/kelly-neil-558227-unsplash.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Stock</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a routerLink="/about" class="btn btn-outline-light btn-block">Link somewhere</a>
          </div>
        </div>

    </div>
  </div>
</div> 