<p>
  offers works!
</p>
<div class="card text-center text-white bg-info mb-3 border-0">
  <div class="container">
    <img class="card-img-top center img-fluid rounded" src="/assets/image/animals/antonio-grosz-346158-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Feed</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-outline-light btn-block">Link somewhere</a>
    </div>
  </div>
</div>